[Unit]
Description=Perl based Zabbix agent daemon
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
ExecStart=/etc/monitor.pl
Restart=on-failure

[Install]
WantedBy=multi-user.target
